/*  Author: Hsiu-Man Angela Wu
    Student #: A00750330        */


/*Makes HTML5 compatible with older browsers*/
header, nav, main, footer, aside { 
    display: block; 
}

body {
	background-color: #eaebef;
	font-family: 'Fira Sans', sans-serif;
	font-size: 21px;
	color: #272730;
	margin: 0;
}




/*------------------------------------------------
    General Styles
------------------------------------------------*/

header {
	background-color: #272730;
	height: 100px;
	width: 100%;
	min-width: 1024px;
	position: absolute;
	top: 0;
	z-index: 1;
}


nav {
	font-family: 'Cormorant', serif;
	font-size: 20px;
	color: white;
	position: absolute;
	top: 45px;
	right: 25px;
	z-index: 1;
}

nav ul {
	margin: 0;
	padding: 0;
}

/*
nav {
	font-family: 'Cormorant';
	font-size: 20px;
	color: white;
	position: absolute;
	top: 50px;
	right: 25px;
	padding-left: 235px;
}
*/

h1, h2 {
	font-family: 'Cormorant', serif;
	font-weight: normal;
}

h1 {
	font-size: 100px;
	font-style: italic;
	text-align: center;
	margin: 80px 0;
}


h2 {
	margin-top:0;
	margin-bottom: 20px;
	font-size: 50px;
}

footer {
	background-color: #272730;
	color: #eaebef;
	font-size: 16px;
	clear: both;
}

footer ul {
	padding: 0;
	margin: 50px 0 50px 0;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin-right: 60px;
}

footer li:last-child {
	margin: 0;
}

footer p {
	margin: 0;
}

.foot_link {
	color: #ddcbc5;
	text-decoration: none;
}

.foot_link:visited {
	color: #ddcbc5;
}
.foot_link:hover {
	text-decoration: underline;
}
.foot_link:active {
	color: grey;
}

.content_container {
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 950px;
	position: relative;
}

.align_center {
	text-align: center;
}

.nav_item {
	list-style-type: none;
	float: left;
	margin-left: 20px;
}

.nav_link {
	text-decoration: none;
	color: inherit;
	display: block;
	margin: 5px 15px 5px 15px;
}

.nav_link:visited {
	color: inherit;
}

.nav_link:hover {
	border-bottom: 1px solid white;
}

.nav_link:active {
	color: grey;
	border-bottom: 1px solid grey;
}

#current_page {
	color: grey;
	padding: 5px 15px 5px 15px;
}

#header_container {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	padding: 25px;
	position: relative;
}

#logo {
	position: absolute;
	top: 25px;
	left: 25px;
	border: 1px solid #272730;
	z-index: 1;
}

#foot_address {
	line-height: 25px;
}

#foot_text {
	font-size: 13px;
}

#foot_separation {
	background-color: #eaebef;
	height: 30px;
}


.avoid_nav {
	padding-top: 76px;
}

.heading_block {
	background-color: #eaebef;
	color: #272730;
}

.heading_bar {
	position: absolute;
	top: 230px;
	width: 100%;
	height: 130px;
	background-color: white;
	opacity: 0.3;
}

.email {
	color: inherit;
}

.email:visited {
	color: inherit;
}

.email:hover {
	color: grey;
}

.email:active {
	color: #494959;
}


.hr {
	border: 0;
	border-bottom: 1px solid #ae989e;
}

.hr_double {
	border: 0;
	border-bottom: 10px double #ae989e;

}



/*------------------------------------------------
    Home page specific styles
------------------------------------------------*/
#header_trans {
	background-color: #272730;
	height: 100px;
	width: 100%;
	min-width: 1024px;
	position: absolute;
	top: 0;
	z-index: 1;
	opacity: 0.80;
}

#whyus_block {
	background-color: #eaebef;
	color: #272730;
	margin-top: 900px;
	hyphens: none;
}

#services_block {
	color: white;
	background-image: url('../images/wbg1.jpg');
}

/*Specify margin: 0 for the img tag that is the last child of its parent*/
#services_block img:last-child {
	margin: 0;
}

.serv_container {
	display: inline-block;
	width: 170px;
	height: 200px;
	border: 1px solid black;
	position: relative;
	margin-bottom: 55px;
	text-align: center;
}

.serv_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 170px;
	height: 200px;
	background-color: white;
	opacity: 0;
}

.serv_overlay:hover {
	opacity: 0.45;
}

.serv_img {
	position: absolute;
	top: 0;
	left: 0;
}

.serv_name {
	position: absolute;
	margin: 0;
	top: 210px;
	font-family: 'Cormorant', serif;
	font-size: 25px;
	line-height: 25px;
	width: 100%;
	text-align: center;
}

.serv_link:link {
	color: white;
}

.serv_link:visited {
	color: white;
}

.serv_link:hover {
	color: black;
}

.serv_link:active {
	color: #494959;
}



/*
.serv_label {
	display: block;
	width: 100%;
	position: absolute;
	top: 90px;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
	color: white;
	text-decoration: none;
	font-family: 'Cormorant', serif;
	font-size: 26px;
	padding: 5px 0 5px 0;
}

.serv_two_lines {
	top: 75px;
}

.serv_label:hover {
	background-color: white;
	color: black;
	top: 0;
	line-height: 200px;
}

.serv_two_lines:hover {
	background-color: white;
	color: black;
	top: 0;
	height: 200px;
	line-height: 200px;
}

.serv_two_lines span {
	display: inline-block;
}

.serv_two_lines:hover span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;      
}

*/




/*------------------------------------------------
    Projects Gallery page styles
------------------------------------------------*/
#gallery img {
	margin-right: 1px;
	margin-bottom: 4px;
	border: 1px solid grey;
}


#gallery h2 {
	text-align: center;
	margin-top: 25px;
}



/*------------------------------------------------
    About Us page styles
------------------------------------------------*/
/*none so far*/



/*------------------------------------------------
    Services page styles
------------------------------------------------*/
tr, td {
	border: 1px solid #494959;
}

table {
	border-spacing: 10px;
}

#column_left {
	width: 50%;
}

#column_right {
	width: 50%;
}

.column_heading {
	text-align: center;
	padding: 10px;
	background-color: #494959;
}

.column_heading h3 {
	font-family: 'Cormorant', serif;
	font-weight: normal;
	font-size: 40px;
	margin: 0;
	color: #eaebef;
}

.column_details {
	padding: 20px 30px 50px 30px;
	vertical-align: top;
}

.figure {
	margin:0;
}

.figure img {
	border: 1px solid grey;
}

.figure figcaption {
	text-align: right;
}


/*------------------------------------------------
    Careers page styles
------------------------------------------------*/
#careers_list {
	color: #272730;
}

#careers_list .content_container {
	width: 900px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	background-color: #eee5e2;
	margin-bottom: 50px;
}

#careers_list ul {
	padding: 0;
	list-style-type: none;
}


#careers_list li {
	border-bottom: 1px solid #ae989e;
	padding: 10px;
	font-size: 25px;
}

#careers_list li:first-child {
	border-top: 1px solid #ae989e;
}

.pagelink {
	text-decoration: none;
	color: #272730;
}

.pagelink:link {
	color: #272730;
}

.pagelink:visited {
	color: #272730;
}

.pagelink:hover {
	color: #AA5939;
}

.pagelink:active {
	color: grey;
}

	/*------------------------------------------------
    	Careers details page styles
	------------------------------------------------*/
	
		#c_details {
			color:black;
		}

		#c_details p {
			margin-bottom: 0;
		}

		#c_details ul {
			margin: 0;
		}

		#c_details .content_container {
			width: 900px;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
			background-color: #eee5e2;
			margin-bottom: 50px;
		}



/*------------------------------------------------
    Contact page styles
------------------------------------------------*/
#contactus .content_container p:first-child {
	margin-right: 150px;
}

#form_heading {
	font-family: 'Cormorant', serif;
	font-size: 30px;
	margin: 0;
	margin-bottom: 32px;
}

#contact_form  {
	position: absolute;
	top: 42px;
	right: 25px;
	width: 450px;
	height: 600px;
	background-color: #eaebef;
	color: #272730;
	padding: 25px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);

}

#contact_form label  {
	display: inline-block;
	margin-bottom: 28px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 20px;
}

#contact_form input {
	float: right;
	width: 280px;
	padding: 5px;
	font-family: 'Fira Sans'
}

#contact_form textarea {
	float: right;
	width: 438px;
	height: 200px;
	padding: 5px;
}

#contact_form input[type=submit] {
	float: left;
	width: 200px;
	padding: 5px;
	margin-top: 20px;
	font-family: 'Cormorant', serif;
	font-size: 20px;
	font-weight: bold;
	background-color: #494959;
	color: #eaebef;
	border: 1px solid #272730;
}

#contact_form input[type=submit]:hover {
	background-color: green;
}

#contact_form input[type=submit]:active {
	background-color: #272730;
}


iframe {
	width: 400px;
	height: 400px;
	border: 1px solid grey;
}


	/*------------------------------------------------
    	Form submitted (sucess & error) page styles
	------------------------------------------------*/
	
		.status {
			margin: 20px;
		}


/*------------------------------------------------
    Site Map page styles
------------------------------------------------*/
#sitemap {
	padding-left: 500px;
}



